<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <h3>📊 Menu</h3>
    <a href="/">🏠 Home</a>
    <a href="/dashboard">📈 Dashboard</a>
    <a href="/predict">🤖 Prediksi</a>
</div>

<div class="content">
    <div class="card">
        <h1>🩺 Diabetes Prediction Dashboard</h1>
        <p>
            Aplikasi ini bertujuan untuk memprediksi kemungkinan seseorang
            mengalami diabetes berdasarkan data medis .
        </p>

        <ul>
            <li>📊 Visualisasi data (Google Looker Studio)</li>
            <li>🤖 Prediksi diabetes</li>
            <li>📈 Analisis data kesehatan</li>
        </ul>

        <hr>
        <p><b>Nama:</b> Ghulam Daris Fauzan</p>
        <p><b>Universitas:</b> Universitas Lampung</p>
    </div>
</div>

</body>
</html>
